[submodule "liquidswap-harvest"]
	path = liquidswap-harvest
	url = https://github.com/pontem-network/harvest
[submodule "ditto-interface"]
	path = ditto-interface
	url = https://github.com/ditto-research/ditto-interface
[submodule "hippo-aggregator-interface"]
	path = hippo-aggregator-interface
	url = https://github.com/hippospace/hippo-agg-interface
